<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Color Game</h1>
      </header>
      <span class="image main"
        ><img
          src="https://res.cloudinary.com/aeroware/image/upload/v1572869352/color-game_zepet3.jpg"
          alt=""
      /></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://dglav.github.io/color-game/"
            target="_blank"
            class="button"
            >ライブ確認</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>要約</h3>
    </header>
    <p>
      HTML、CSS、Javascriptの基本を学ぶためのアプリでした。
      それぞれ個別で学んだことを初めて連動して、いよいよ各部分はどういうふうに
      対応するのかを目に見えました。
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>使用した技術</h3>
    </header>
    <ul>
      <li>HTML/CSS</li>
      <li>Javscript</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>勉強になったこと</h3>
    </header>
    <ul>
      <li>DOMを使って変更のやり方</li>
      <li>
        エレメントが変化している間に滑らかな印象をつけるためのアニメーション
      </li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
