<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>CRWN Clothing</h1>
      </header>
      <span class="image main"><img src="../images/pic11.jpg" alt=""/></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://crwn-clothing-12345.herokuapp.com"
            class="button"
            target="_blank"
            >ライブ確認</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>要約</h3>
    </header>
    <p>
      React.jsとそのものの周りに存在するツールなどを細かいところまで理解するためのアプリです。
      Udemyの先生を見ながら作っていくというふうに講座を進んでいます。
      そして特にモバイルビューにスタイル等を追加してみました。
    </p>
    <p>
      Reactを使ってアプリをつくりましょう！となった時にどういった技術が必要なのかを把握するために、
      詳しく勉強しました。得た知識を武器に最初から自分のアイディアを生むことができると思います。
      下記も含めて開発します。
    </p>
    <ul>
      <li>どういうコンポネントが必要なのか、どこまで分解するのか</li>
      <li>Stateは何が含まるか、どこに存在するのか</li>
      <li>Stateが変更したら何が変わるのか。必要最低限の再レンダー等</li>
    </ul>
    <p>
      これから作るアプリを楽しみにしてください。いくつかが計画中です。
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>使用した技術</h3>
    </header>
    <ul>
      <li>React</li>
      <li>Firebase</li>
      <li>Redux</li>
      <li>Reselect</li>
      <li>Redux-Router</li>
      <li>Redux-Logger</li>
      <li>Redux-Persist</li>
      <li>Redux-Thunk</li>
      <li>Redux-Saga</li>
      <li>Sass</li>
      <li>Styled-Components</li>
      <li>Axios</li>
      <li>Node/Express</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>勉強になったこと</h3>
    </header>
    <ul>
      <li>現代的なアプリを建築する方法</li>
      <li>最先端ツールを使ったReact.js開発</li>
      <li>再使用コンポネントを詳しくに</li>
      <li>State管理</li>
      <li>
        モデルビューコントローラ、いわゆるMVCのデザインパターンを活かしてフロントエンドをより賢くに
      </li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
