<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Monsters Rolodex</h1>
      </header>
      <span class="image main"
        ><img
          src="https://res.cloudinary.com/aeroware/image/upload/v1572869352/monsters-rolodex_knxjcj.jpg"
          alt=""
      /></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://dglav.github.io/monsters-rolodex/"
            target="_blank"
            class="button"
            >ライブ確認</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>要約</h3>
    </header>
    <p>
      React.jsの基本を覚えるためにこのアプリを作りました。
      各コンポネントの中でstateの管理がされているという意味でpure
      reactが使用されました。
      表示されているデータはリアルタイムでユーザーの入力で反応します。
      よって現代的なフロントエンドフレームワークの共通点を示します。
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>使用した技術</h3>
    </header>
    <ul>
      <li>React</li>
      <li>Javascript</li>
      <li>HTML/CSS</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>勉強になったこと</h3>
    </header>
    <p>
      学んだことの中で、とても重要なのはstateとpropsをparentからchildコンポネントの
      引き渡し方でした。最初のプロジェクトだからだと思いますが、違るコンポネントから関数を実行することにかんしては
      少し難しいところもありました。
    </p>
    <p>
      そしてUIのコンポネントをさらに細かく分解することのやり方または重要性を学び始めました。
      そうしたことによって、コンポネントの使い方がより柔軟で拡張性に優れてきました。
    </p>
  </div>
</div>

<% include ../partials/footer %>
