<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Omnifood</h1>
      </header>
      <span class="image main"
        ><img
          src="https://res.cloudinary.com/aeroware/image/upload/v1572869353/omnifood_ru6ktl.jpg"
          alt=""
      /></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://dglav.github.io/ominfood/"
            target="_blank"
            class="button"
            >ライブ確認</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>要約</h3>
    </header>
    <p>
      アプリのデザインの最初の講座として、Udemyの先生と一緒にプロジェクトを組み立てました。
      StaticサイトでHTML、CSS、少しのJavascriptも使用しながら練習できました。
      とても今風なHPのではないかと思います。
    </p>
    <p>
      様々なテーマを持ったセクションがあります。ランディング、メリット、イメージ、
      使い方、サービスの使える範囲、口コミ、サブスクリプション案内を連動しながら
      商品を販売することにつながるフローを作りました。
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>使用した技術</h3>
    </header>
    <ul>
      <li>HTML/CSS</li>
      <li>Javascript</li>
      <li>Jquery</li>
      <li>animate.css</li>
      <li>grid.css</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>勉強になったこと</h3>
    </header>
    <ul>
      <li>空白の上手な使い方</li>
      <li>スクロールしている間のアニメーション</li>
      <li>再使用可能cssのクラス</li>
      <li>コンテイナーが必要なところにelementをnestする</li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
