<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Weather App</h1>
      </header>
      <span class="image main"
        ><img
          src="https://res.cloudinary.com/aeroware/image/upload/v1572869353/weatherapp_n3ymef.jpg"
          alt=""
      /></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://dglav.github.io/weatherApp/"
            target="_blank"
            class="button"
            >ライブ確認</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>要約</h3>
    </header>
    <p>
      初めてウエブ開発に興味が芽生えた時に作ったアプリです。
      それ以来、他にもプロジェクトを完成させて、インパクトを強めるためにこのアプリを再度作りたくなってきましたが、
      とりあえず最初の頃を思い出すためにこのまましておきます。
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>使用した技術</h3>
    </header>
    <ul>
      <li>HTML/CSS</li>
      <li>Javascript/Jquery</li>
      <li>APIの扱い</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>勉強になったこと</h3>
    </header>
    <ul>
      <li>
        APIを使ってFetchして情報を表示すること
      </li>
      <li>
        Vanilla CSSとjqueryを使ってページを構造する方法
      </li>
    </ul>
    <p>
      2019/09/21<br />
      Herokuを使ったらAPIからデータを落とすためにhttps requestが必要。Http
      requestが拒否される。
    </p>
    <br />
  </div>
</div>

<% include ../partials/footer %>
