<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Yelpcamp</h1>
      </header>
      <span class="image main"
        ><img
          src="https://res.cloudinary.com/aeroware/image/upload/v1572869354/yelpcamp_rmmn2j.jpg"
          alt=""
      /></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://young-reef-58506.herokuapp.com"
            class="button"
            target="_blank"
            >ライブ確認</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>要約</h3>
    </header>
    <p>
      このプロジェクトは私の一番最初のFullstackアプリでした。
      フロントエンドとバックエンドに時間を分配し、両方の基本的なところをつかめたのではないかと思いました。
    </p>
    <p>
      REST等を考えながら実施することによってウエブ開発の基本を学びました。これらの原理を用いてMongoデータベースと接続しました。
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>使用した技術</h3>
    </header>
    <ul>
      <li>Bootstrap</li>
      <li>Node/Express</li>
      <li>Express Session</li>
      <li>MongoDB/Mongoose</li>
      <li>Connect-Flash</li>
      <li>EJS</li>
      <li>Passport</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>勉強になったこと</h3>
    </header>
    <ul>
      <li>Fullstackアプリ開発の基本</li>
      <li>RESTの使い方やアプリの建築</li>
      <li>ログイン・ログアウトの機能性やAuthの統合方法</li>
      <li>ミドルウェアの使い方</li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
