<% include ../partials/header %>

	<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="#description">Description</a></li>
				<li><a href="#technologies">Technologies Used</a></li>
				<li><a href="#lessons-learned">Lessons Learned</a></li>
			</ul>
			<ul class="actions stacked">
				<li><a href="#" class="button fit">Log In</a></li>
			</ul>
		</nav>

	<!-- Main -->
		<div id="main" class="alt">

			<!-- Banner -->
			<section>
				<div class="inner">
					<header class="major">
						<h1>Yelpcamp</h1>
					</header>
					<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
					<ul id="projectlink" class="actions">
						<li><a href="https://young-reef-58506.herokuapp.com" class="button">Go to project</a></li>
					</ul>
				</div>
			</section>

			<!-- Description -->
			<div id="description" class="inner">
				<header class="major">
					<h3>Project Description</h3>
				</header>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
			</div>

			<!-- Lessons Learned -->
			<div id="lessons-learned" class="inner">
				<header class="major">
					<h3>Lessons learned</h3>
				</header>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
			</div>

			<!-- Technologies Used -->
			<div id="technologies" class="inner">
				<header class="major">
					<h3>Technologies used</h3>
				</header>
				<ul>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</div>

		</div>

<% include ../partials/footer %>