<!DOCTYPE HTML>
<html>
	<head>
		<title>Drew Glavich's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
	<!-- Wrapper -->
		<div id="wrapper">

		<!-- Header -->
			<header id="header" class="alt">
				<form action=<%= `${currentRoute}` %> method="POST">
					<button class="logo" type="submit" value="japanese" name="language"><strong>日本語</strong> <i class="fas fa-circle"></i></button>
				</form>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>