<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="/">Home</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#bio">Bio</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
