<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="/">Home</a></li>
    <li><a href="#description">Project Description</a></li>
    <li><a href="#technologies">Technologies Used</a></li>
    <li><a href="#lessons-learned">Lessons Learned</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
