<% include ./partials/header_jp %>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header" class="alt">
            <form action="/" method="POST">
                <button class="logo" type="submit" value="english" name="language"><strong>English</strong> <i class="fas fa-flag-usa"></i></button>            
            </form>
			<nav>
				<a href="#menu">メニュー</a>
			</nav>
		</header>

	<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="body">ホーム</a></li>
				<li><a href="#projects">プロジェクト</a></li>
				<li><a href="#bio">僕について</a></li>
				<li><a href="#contact">連絡</a></li>
			</ul>
			<ul class="actions stacked">
				<li><a href="#" class="button fit">ログイン</a></li>
			</ul>
		</nav>

	<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">
					<h1>
                        グラビッチドリューのHPへ<span></span>よこそう
                    </h1>
				</header>
				<div class="content">
                    <p>
                        絶えず、よりいい、現代的なアプリを<br />
                        作るのに従事しています
                    </p>
					<ul class="actions">
						<li><a href="#projects" class="button next scrolly">プロジェクトへ</a></li>
					</ul>
				</div>
			</div>
		</section>

	<!-- Main -->
		<div id="main">

			<!-- Projects -->
				<section id="projects" class="tiles">
					<article>
						<span class="image">
							<img src="images/pic01.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/yelpcamp" class="link">Yelpcamp</a></h3>
							<p>キャンプ場を共有するブログ</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic02.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/omnifood" class="link">Omnifood</a></h3>
							<p>レストランのホームページ</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic03.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/weatherapp" class="link">Weather App</a></h3>
							<p>現在の天気をチェックしましょう</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic04.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/colorgame" class="link">Color Game</a></h3>
							<p>カラーコードを当ててみましょう</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic05.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/todolist" class="link">To-do List</a></h3>
							<p>Javascriptを使ったTodo List</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic06.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/fitnessapp" class="link">Fitness App</a></h3>
							<p>設計中</p>
						</header>
					</article>
				</section>

			<!-- Biography -->
				<section id="bio">
					<div class="inner">
						<header class="major">
							<h2>僕について</h2>
						</header>
						<p>
							こんにちは！現在名古屋に住んでおり三菱航空機にてエンジニアをやっています。
							長い間アプリを構築するのに興味をもっていたのです。
							まだ始まったばかりなんですが、いくつかの言語とフレームワークをかじってみています。
							ウエブアプリの技術を身につくことに努めてfull stack developerになることを目指しています。
							僕のプロジェクトに興味を持たれてありがとうございます。
							連絡をお待ちしております！
						</p>
						<ul class="actions">
							<li><a href="#contact" class="button next scrolly">連絡</a></li>
						</ul>
					</div>
				</section>
		</div>

<% include ./partials/footer_jp %>