<% include ./partials/header %>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header" class="alt">
			<form action="/" method="POST">
				<button class="logo" type="submit" value="japanese" name="language"><strong>日本語</strong> <i class="fas fa-circle"></i></button>
			</form>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

	<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="body">Home</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#bio">Bio</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<ul class="actions stacked">
				<li><a href="#" class="button fit">Log In</a></li>
			</ul>
		</nav>

	<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">
					<h1>Hi, my name is Drew Glavich</h1>
				</header>
				<div class="content">
					<p>Commited to building better, modern applications with each and every keystroke.</p>
					<ul class="actions">
						<li><a href="#projects" class="button next scrolly">See projects</a></li>
					</ul>
				</div>
			</div>
		</section>

	<!-- Main -->
		<div id="main">

			<!-- Projects -->
				<section id="projects" class="tiles">
					<article>
						<span class="image">
							<img src="images/pic01.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/yelpcamp" class="link">Yelpcamp</a></h3>
							<p>Campground sharing blog</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic02.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/omnifood" class="link">Omnifood</a></h3>
							<p>Restaurant home page</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic03.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/weatherapp" class="link">Weather App</a></h3>
							<p>Check the weather near you</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic04.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/colorgame" class="link">Color Game</a></h3>
							<p>Guess that color code!</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic05.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/todolist" class="link">To-do List</a></h3>
							<p>Javascript todolist toy</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/pic06.jpg" alt="" />
						</span>
						<header class="major">
							<h3><a href="/fitnessapp" class="link">Fitness App</a></h3>
							<p>In conceptual design phase</p>
						</header>
					</article>
				</section>

			<!-- Biography -->
				<section id="bio">
					<div class="inner">
						<header class="major">
							<h2>Biography</h2>
						</header>
						<p>
							Hello! My name is Drew and I am currently an engineer located in Nagoya, Japan. 
							I have been interested in building applications for a long time, and have tipped my toes into several languages and frameworks.
							Now I've decided to make a commitment to learning this art, to become a full stack developer and use my skills for good.
							Thank you for taking an interest in me and my projects.
							I hope to hear from you soon!
						</p>
						<ul class="actions">
							<li><a href="#contact" class="button next scrolly">Contact</a></li>
						</ul>
					</div>
				</section>
		</div>

<% include ./partials/footer %>