            <!-- Contact -->
            <section id="contact">
                <div class="inner">
                    <section>
                        <section>
                            <div class="contact-method">
                                <span class="icon solid alt fa-envelope"></span>
                                <h3>メール</h3>
                                <a href="#">glavichdrew@gmail.com</a>
                            </div>
                        </section>
                        <section>
                            <div class="contact-method">
                                <span class="icon solid alt fa-phone"></span>
                                <h3>電話番号</h3>
                                <span>+81 (090) 8309-7256</span>
                            </div>
                        </section>
                        <section>
                            <div class="contact-method">
                                <span class="icon solid alt fa-home"></span>
                                <h3>住所</h3>
                                <span>
                                    〒454-0911<br />
                                    日本名古屋中川区高畑
                                </span>
                            </div>
                        </section>
                    </section>
                </div>
            </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://github.com/dglav" class="icon brands alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                    <li><a href="https://www.linkedin.com/in/drewglavich/" class="icon brands alt fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
                </ul>
            </div>
        </footer>
        </div>

		<!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.scrolly.min.js"></script>
        <script src="js/jquery.scrollex.min.js"></script>
        <script src="js/browser.min.js"></script>
        <script src="js/breakpoints.min.js"></script>
        <script src="js/util.js"></script>
        <script src="js/main.js"></script>

	</body>
</html>