<!DOCTYPE HTML>
<html>
	<head>
		<title>Drew Glavich's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main_jp.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<form action=<%= `${currentRoute}` %> method="POST">
						<button class="logo" type="submit" value="english" name="language"><strong>English</strong> <i class="fas fa-flag-usa"></i></button>            
					</form>
					<nav>
						<a href="#menu">メニュー</a>
					</nav>
				</header>

				<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="body">Home</a></li>
						<li><a href="#projects">Projects</a></li>
						<li><a href="#bio">Bio</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>