<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="/">ホーム</a></li>
    <li><a href="#description">要約</a></li>
    <li><a href="#technologies">使用した技術</a></li>
    <li><a href="#lessons-learned">勉強になったこと</a></li>
    <li><a href="#contact">連絡</a></li>
  </ul>
</nav>
