<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Color Game</h1>
      </header>
      <span class="image main"
        ><img
          src="https://res.cloudinary.com/aeroware/image/upload/v1572869352/color-game_zepet3.jpg"
          alt=""
      /></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://dglav.github.io/color-game/"
            target="_blank"
            class="button"
            >See project live</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>Project Description</h3>
    </header>
    <p>
      This was another project meant to teach me basic HTML/CSS and Javascript.
      Using the fundamental knowledge I gained from earlier in the course where
      I learned this, I was able to see all the moving parts of each 'language'
      and how they interact with each other.
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>Technologies used</h3>
    </header>
    <ul>
      <li>HTML/CSS</li>
      <li>Javscript</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>Lessons learned</h3>
    </header>
    <ul>
      <li>DOM Manipulation</li>
      <li>Animations for smoothing transitions</li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
