<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>CRWN Clothing</h1>
      </header>
      <span class="image main"><img src="../images/pic11.jpg" alt=""/></span>
      <ul id="projectlink" class="actions">
        <li>
          <a href="https://crwn-clothing-12345.herokuapp.com" class="button"
            >See project live</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>Project Description</h3>
    </header>
    <p>
      This project was built as a means to really understand React and its
      ecosystem. I followed my teacher from Udemy through this course, and added
      my own styling where I thought appropriate, especially for the mobile
      view. This was a great introduction to the technologies needed, including
      all the technologies listed below. I feel confident armed with the
      knowledge from this project to move into my own personal projects, of
      which I have several plans.
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>Technologies used</h3>
    </header>
    <ul>
      <li>Reactjs</li>
      <li>Firebase</li>
      <li>Redux</li>
      <li>Reselect</li>
      <li>Redux-Router</li>
      <li>Redux-Logger</li>
      <li>Redux-Persist</li>
      <li>Redux-Thunk</li>
      <li>Redux-Saga</li>
      <li>Styled-Components</li>
      <li>Axios</li>
      <li>Node/Express</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>Lessons learned</h3>
    </header>
    <ul>
      <li>How to architect large applications</li>
      <li>Modern React work-flow</li>
      <li>Concept of reusable components</li>
      <li>State management</li>
      <li>
        Leveraging full power of front end over backend using the SPA model
      </li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
