<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Monsters Rolodex</h1>
      </header>
      <span class="image main"
        ><img
          src="https://res.cloudinary.com/aeroware/image/upload/v1572869352/monsters-rolodex_knxjcj.jpg"
          alt=""
      /></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://dglav.github.io/monsters-rolodex/"
            target="_blank"
            class="button"
            >See project live</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>Project Description</h3>
    </header>
    <p>
      As an introduction to React as a front end framework, I built this
      application. Pure react was used in the sense that all state management
      was done within each component. The data that is shown is uploaded based
      on the user's input in real time, exemplifying concepts that are common
      amongst all modern front end frameworks.
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>Technologies used</h3>
    </header>
    <ul>
      <li>React</li>
      <li>Javascript</li>
      <li>HTML/CSS</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>Lessons learned</h3>
    </header>
    <p>
      One of the biggest lessons I learned from this project was how to pass
      state and props down from parent components to children components. It can
      be a bit tricky calling functions that are defined in a different
      component.
    </p>
    <p>
      I also started learning how to break down UI elements into their base
      components, keeping the concerns between them as flexible as possible for
      extensability.
    </p>
  </div>
</div>

<% include ../partials/footer %>
