<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Omnifood</h1>
      </header>
      <span class="image main"><img src="../images/pic11.jpg" alt=""/></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://dglav.github.io/ominfood/"
            target="_blank"
            class="button"
            >See project live</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>Project Description</h3>
    </header>
    <p>
      My first real introduction to application design, I created this project
      by coding along with a teacher on Udemy. It is a static site primarily a
      practice in HTML and CSS with a little bit of Javascript. All vanilla. But
      also trendy.
    </p>
    <p>
      There are several sections with different design themes; landing, merits,
      images, how to use, where available, customer reviws, and a pricing plan
      all to help sell a product.
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>Technologies used</h3>
    </header>
    <ul>
      <li>HTML/CSS</li>
      <li>Javascript</li>
      <li>Jquery</li>
      <li>animate.css</li>
      <li>grid.css</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>Lessons learned</h3>
    </header>
    <ul>
      <li>Spacing techniques</li>
      <li>Animations on scroll</li>
      <li>Reusable css classes</li>
      <li>Keep elements nested where containers are needed</li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
