<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Weather App</h1>
      </header>
      <span class="image main"><img src="../images/pic11.jpg" alt=""/></span>
      <ul id="projectlink" class="actions">
        <li>
          <a
            href="https://dglav.github.io/weatherApp/"
            target="_blank"
            class="button"
            >See project live</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>Project Description</h3>
    </header>
    <p>
      I started building this application a long time ago when I started
      learning web development for the first time. Since then, I have completed
      a few other projects which makes me want to rebuild this application with
      even better features. Until then I will keep this project here as a
      reminder of my humble beginnings.
    </p>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>Lessons learned</h3>
    </header>
    <ul>
      <li>
        Basics of fetching and displaying information with an API
      </li>
      <li>
        How to organize a slighty unconventional page structure with vanilla css
        and jquery.
      </li>
    </ul>
    <p>
      2019/09/21<br />
      When doing API calls via a Heroku server, I have to make an https request.
      Http requests will get rejected.
    </p>
    <br />
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>Technologies used</h3>
    </header>
    <ul>
      <li>HTML/CSS</li>
      <li>Javascript/Jquery</li>
      <li>API interaction</li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
