<% include ../partials/header %> <% include ../partials/project-menu %>

<!-- Main -->
<div id="main" class="alt">
  <!-- Banner -->
  <section>
    <div class="inner">
      <header class="major">
        <h1>Yelpcamp</h1>
      </header>
      <span class="image main"><img src="../images/pic11.jpg" alt=""/></span>
      <ul id="projectlink" class="actions">
        <li>
          <a href="https://young-reef-58506.herokuapp.com" class="button"
            >See project live</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- Description -->
  <div id="description" class="inner">
    <header class="major">
      <h3>Project Description</h3>
    </header>
    <p>
      This was my first real full stack application. Equal weight was allotted
      to both front end and back end technologies. Admittedly no grounbreaking
      technology was used in the making of this project, but it taught me the
      basics of web development.
    </p>
    <p>
      Paradigms such as REST were heavily reinforced through repetition, using
      these principles to interact with a Mongo database which feeds a set of
      bread-and-butter HTML/CSS/Javascript files.
    </p>
  </div>

  <!-- Technologies Used -->
  <div id="technologies" class="inner">
    <header class="major">
      <h3>Technologies used</h3>
    </header>
    <ul>
      <li>Bootstrap</li>
      <li>Node/Express</li>
      <li>Express Session</li>
      <li>MongoDB/Mongoose</li>
      <li>Connect-Flash</li>
      <li>EJS</li>
      <li>Passport</li>
    </ul>
  </div>

  <!-- Lessons Learned -->
  <div id="lessons-learned" class="inner">
    <header class="major">
      <h3>Lessons learned</h3>
    </header>
    <ul>
      <li>Full stack app development fundamentals</li>
      <li>How to use the REST paradigm for architecting applications</li>
      <li>How to incorporate authentication with login/logout functionality</li>
      <li>The concept of middleware and when to use it</li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
